API_PORT=5180
CLIENT_ORIGIN=http://localhost:5174
API_PROXY_TARGET=http://localhost:5180
VITE_API_ORIGIN=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307
MYSQL_DATABASE=firefly_blog
MYSQL_USER=firefly
MYSQL_PASSWORD=''
MYSQL_CONNECTION_LIMIT=10
# Online compiler sandbox settings; API runs compiler jobs in Docker containers.
COMPILER_DOCKER_BIN=docker
COMPILER_DOCKER_NETWORK=none
COMPILER_WORKDIR=.compiler-work
COMPILER_TIMEOUT_MS=20000
COMPILER_MAX_TIMEOUT_MS=30000
COMPILER_MAX_CONCURRENT=2
COMPILER_MAX_QUEUED=8
COMPILER_MEMORY_LIMIT=256m
COMPILER_CPU_LIMIT=1
ADMIN_API_TOKEN=change-me
